<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

    <div class="container">
        <h2>美吗
            
        </h2> 
        <img src="../static/11.jpeg" width="400px">
        <form action="/" method="post">
           <p><input type="submit" value="好美"></p>
        </form>
        <form action="/" method="post">
           <p><input type="submit" value="美爆了"></p>
        </form>
        <form action="/SA" method="post">
            <p><input type="submit" value="请输入你的评价"></p>
         </form>
    </div>    

</body>


